@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto+Condensed:wght@700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: rgba(45, 54, 72, 1);
    margin-top: 0px;
}

main {
    background-color: rgba(226, 231, 240, 1);
}

nav {
    display: flex;
    align-items: center;
    background-color: rgba(160, 171, 192, 1);
    padding: 20px;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgba(45, 54, 72, 1);
}

.logo {
    width: 70px;
    height: auto;
    border-radius: 10px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(45, 54, 72, 1);
    margin-right: 10px;

}

a {
    background-color: rgba(45, 54, 72, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 10px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(45, 54, 72, 1);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

a:hover {
    color: rgba(45, 54, 72, 1);
    background-color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 10px;
    border: solid;
    border-radius: 10px;
    border-color: rgba(45, 54, 72, 1);
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

header {
    background-color: rgba(226, 231, 240, 1);
    margin-left: 12vw;
}

.product {
    background-color: rgba(226, 231, 240, 1);
    display: flex;
    flex-direction: row;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgba(45, 54, 72, 1);
    padding-bottom: 75px;
    padding-left: 12vw;
}

.image {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 480px;
    border: solid;
    border-radius: 10px;
    border-width: 5px;
    border-color: rgba(45, 54, 72, 1);
}

.text {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 50px;
}

.price {
    margin-left: 2vw;
    margin-bottom: 10px;
}

.productinfo {
    padding: 11px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 2vw;
    margin-right: 20px;
}

.productinfoLast {
    padding: 11px;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 2vw;
    margin-right: 20px;
}

.order {
    width: 150px;
    height: 50px;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 2.5vw;
}

.order:hover {
    width: 150px;
    height: 50px;
    padding: 15px 30px;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 2.5vw;
    background-color: rgba(255, 255, 255, 1);
}

.description {
    display: flex;
    flex-direction: row;
    background-color: rgba(160, 171, 192, 1);
    justify-content: space-between;
    border-bottom: solid;
    border-width: 2px;
    border-color: rgba(45, 54, 72, 1);
}

.procon {
    display: flex;
    flex-direction: row;
    background-color: rgba(45, 54, 72, 1);
    color: rgba(255, 255, 255, 1);
    width: 400px;
    height: 250px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 12vw;
    margin-right: 12vw;
    border-radius: 10px;
}

.pro {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.con {
    display: flex;
    flex-direction: column;
}

.descr {
    display: flex;
    flex-direction: column;
    background-color: rgba(45, 54, 72, 1);
    color: rgba(255, 255, 255, 1);
    width: 600px;
    padding: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 12vw;
    border-radius: 10px;
}

.related {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgba(45, 54, 72, 1);
    background-color: rgba(226, 231, 240, 1);
}

.relatedTitle {
    text-align: center;
    margin: 50px;
    background-color: rgba(226, 231, 240, 1);
}

.p1 {
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    text-align: center;
    margin-bottom: 25px;
}

.p2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 25px;
}

.p3 {
    display: flex;
    flex-direction: column;
    margin-right: 8vw;
    text-align: center;
    margin-bottom: 25px;
}

.recommendedProduct {
    width: 250px;
    height: 250px;
    border: solid;
    border-radius: 10px;
    border-width: 3px;
    border-color: rgba(45, 54, 72, 1);
    padding: 5px;
}

.recommendedprice {
    font-size: large;
    background-color: rgba(45, 54, 72, 1);
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
    border-radius: 10px;
}

.footer {
    padding: 50px;
    background-color: rgba(45, 54, 72, 1);
    justify-content: space-between;
    text-align: center;
}

.footerlink:hover {
    color: rgba(45, 54, 72, 1);
    background-color: rgba(226, 231, 240, 1);
    border: solid;
    border-radius: 10px;
    border-color: rgba(45, 54, 72, 1);
}
